
.gallery-box{
  display: flex;
  height: 415px;
  background-color: pink;
  border-radius: 25px;
  position: relative;
  @include small-only{
    border-radius: 10px;
    height: 244px;
  }
  .arrowVertLeft{
    cursor: pointer;
    border-radius: 0;
    position: absolute;
    top: calc(50% - 33px);
    left: 24px;
    border: none;
    padding: 0;
    background-color: unset;
    @include small-only{
      top: calc(50% - 20px/2);
      left:5px;
    }
    img{    
      border-radius: 0;
      @include small-only{
        height: 20px;
      }
      
    }
  }
  .arrowVertRight{
    cursor: pointer;
    border-radius: 0;
    position: absolute;
    top: calc(50% - 33px);
    right: 24px;
    border: none;
    transform: rotate(180deg);
    padding: 0;
    background-color: unset;
    @include small-only{
      top: calc(50% - 20px/2);
      right: 5px;

    }
    img{    
      border-radius: 0;
      @include small-only{
        height: 20px;
      }
    }
  }
  .pageNumber{
    color:white;
    width: 50px;
    position: absolute;
    top: 86.19%;
    left: 48.95%;
    @include typoFive00Eigthee;

    display: flex;
    align-items: flex-end;
    text-align: center;
    @include small-only{
      visibility: hidden;
    }
  }

  img{
    width: 100%;
    object-fit:cover;
    border-radius: 25px;
    @include small-only {
      border-radius: 10px;
    }
  }
}


