
.criteria{
  color: $main-color;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  .place{
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    //margin: 30px 0 20px 0;
    h1{
      font-weight: 400;
      font-size: 36px;
      margin: 0;
    }
    h2{
      font-weight: 400;
      font-size: 18px;
      padding: 0px 0 20px 0;
    } 
  }

  @include small-only{
    flex-direction: column;
    .place{
    h1{
      font-weight: 400;
      font-size: 18px;
    }
    h2 {
        font-weight: 400;
        font-size: 14px;
        padding: 5px 0 10px 0;
    }
  }
}
}

.iconography{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  //margin-bottom: 20px;

  .rating-box{
    display: flex;
    column-gap: 10px;
    width: 196px;
    //justify-content: center;
    //align-items: center;
  }
  @include small-only{
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    padding: 10px 0 0 0;
    .rating-box{
      justify-content: flex-start;
      img{
        width: 15px;
      }
    }
  }
}

.presentation{
  display: flex;
  gap: 8%;
  @include medium{
    flex-direction: column;
  }
}
