// réglage généraux
//police
//variable
//mixin
// réglages généraux du projet

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


body {
  @media ( min-width: 1400px){
    width: 1400px;
    margin-inline: auto;    
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  box-sizing: border-box;
  line-height: 142.6%;
}

$main-color: #FF6060;
$background-color: #F6F6F6;
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

@mixin typoFiveOOTwoFour() {
  font-weight: 500;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

@mixin typoFourOOTwoFour() {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 142.6%;
}

@mixin typoFiveOOFourEight{
  font-weight: 500;
  font-size: 48px;
}

@mixin typoFive00Eigthee{
  font-weight: 500;
  font-size: 18px;
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

// @mixin medium {
//   @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
//     @content;
//   }
// }
@mixin medium {
  @media (max-width: #{$large-width - 1px}) {
    @content;
  }
}

// @mixin small-only {
//   @media (min-width: 300px) and (max-width: #{$medium-width - 1px}) {
//     @content;
//   }
// }

@mixin small-only {
  @media (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

main, header{
  margin: 0 100px;
  @include small-only{
    margin: 0 20px;
  }
}

li {
  list-style-type: none;
}

#structure{
  height: calc( 100vh - 148px) ; // 100vh moins la hauteur du header (87px)
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include medium{
    height:calc(100vh - 136px)
  }
  @include small-only{
    height: calc( 100vh - 84px);
  }
}
