// réglage généraux
//police
//variable
//mixin
// réglages généraux du projet

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  box-sizing: border-box;
  line-height: 142.6%;
}

$main-color: #FF6060;
$background-color: #F6F6F6;
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

@mixin typoFiveOOTwoFour() {
  font-weight: 500;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

@mixin typoFourOOTwoFour() {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 142.6%;
}

@mixin typoFiveOOFourEight{
  font-weight: 500;
  font-size: 48px;
}

@mixin typoFive00Eigthee{
  font-weight: 500;
  font-size: 18px;
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin small-only {
  @media (min-width: #{$small-width - 150px}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

main, header{
  margin: 0 100px;
  @include small-only{
    margin: 0 20px;
  }
}

li {
  list-style-type: none;
}

#structure{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}