
.card{
  display: flex;
  text-decoration: unset;
  width: 340px;
  height: 340px;
  background-color: $main-color;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  @include medium{
    height: 300px;
    width: 100%;
  }
  @include small-only{
    height: 255px;
    //width: 100%;
  }
  .masque-card{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    height: 340px;
    width: 340px;
    display: flex;
    align-items: flex-end;
    @include medium{
      height: 300px;
      width: 100%;
    }
    @include small-only{
      height: 255px;
    }
    h2{
      color: white;
      padding: 20px 30% 20px 20px;
      @include typoFive00Eigthee;
      line-height: 142.6%;
    }
  }
}

// TODO: créer une transition ou une animation