.host-box{
  display: flex;
  align-items: center;
  gap:10px;
  .host-name{
    display: flex;
    @include typoFive00Eigthee;
    line-height: 142.6%;
    align-items: flex-end;
    text-align: right;
    max-width: 100px;
    @include small-only{
      font-weight: 500;
      font-size: 12px;
    }
  }
  .host-portrait{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    @include small-only{
      width: 32px;
      height: 32px;
    }
  }
}