
.slogan {
  color: white;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  z-index: 5;
  left: calc((100% - 704px)/2) ;
  top: calc((100% - 55px)/2);
  margin:0;
  @include medium {
    font-size: 36px;
    font-weight: 400;
    left: 9.6%;
    right: 9.6%;
    display: flex;
    align-items: flex-end;
  }
  @media (max-width: 843px) {
    top: calc((100% - 102px)/2); // on soustrait la hauteur de slogan box.
  }
  @include small-only {
    @include typoFiveOOTwoFour;
    top: calc((100% - 60px)/2);
    display: flex;
    align-items: flex-end;
  }
}

.banner {
  position: relative;
  border-radius:25px;
  z-index: 3;
  .masque{
    z-index: 4;
    display: flex;
    Height:223px;
    Opacity:30%;
    background-color: black; 
    border-radius:25px;
  }
  @include medium{
    border-radius:10px;
    .masque {
      border-radius:10px;
    }
  }
  @include small-only{
    border-radius:10px;
    .masque {
      border-radius:10px;
    }
  }
}


#homeBanner {
  @include small-only{
  height: 111px;
}}