
.slogan {
  color: white;
  @include typoFiveOOFourEight;
  position: absolute;
  z-index: 5;
  left: calc((100% - 704px)/2) ;
  top: calc((100% - 55px)/2);
  margin:0;
  @include small-only {
    @include typoFiveOOTwoFour;
    left: 9.6%;
    right: 32.53%;
    top: calc((100% - 60px)/2);
    display: flex;
    align-items: flex-end;
  }
}

.banner {
  position: relative;
  border-radius:10px;
  z-index: 3;
  .masque{
    z-index: 4;
    display: flex;
    Height:223px;
    Opacity:30%;
    background-color: black; 
    border-radius:25px;
    @include small-only{
      border-radius:10px;
    }
  }
}

#homeBanner {
  @include small-only{
  height: 111px;
}}