@use "./../../styles/_settings.scss" as s;


.sectionError{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: s.$main-color;
  justify-content: flex-start;
  height: calc(100vh - 147px - 204px);
  h1 {
    font-weight: 700;
    font-size: 288px;
    margin: 0px;
    line-height: 100%;
    padding-bottom: 40px;
  }
  h2 {
    font-weight: 500;
    font-size: 36px;

  }
  a{
    color: s.$main-color;
    @include typoFive00Eigthee;
    display: flex;
    align-items: flex-end;
    flex-grow: 0.6;
  }
  @include medium{
    //  min-height: 72vh;
    justify-content: space-evenly;
    height: calc(100vh - 136px - 204px);
    h1{
      font-size: 200px;
    }
    h2{
      font-size: 28px;
    }
    a{
      padding-top: 0px;
      flex-grow: 0.3;}
    }
  @include small-only{
    justify-content: space-evenly;
    height: calc(100vh - 84px - 197px);

    
    //min-height: 58vh;
    h1{
    font-size: 96px;
    }
    h2{
    font-size: 18px;  
    }
    a{
      font-size: 14px;
      //flex-grow: unset;
    }
  @media(max-width:325px){
    height: calc(100vh - 63px - 197px);
  }

}
}
